<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header id="main-header">
    <nav id="nav-bar">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        {{#if loggedIn}}
        <button id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <h1 id="title">The Tech Blog</h1>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>