<div>
    <h2>My Dashboard</h2>
    <form action="" id="create-post-form">
        <div>
            <label for="title">Post Title:</label>
            <input type="text" id="post-title" />
        </div>
        <div>
            <label for="description">Post Description:</label>
            <input type="text" id="post-description" />
        </div>
         <button type="submit" id="create-post">Create New Post</button>
    </form>
    <div id="all-posts">
        {{#each blogs as |blog|}}
        <div class="homepage-blogs">
        <div class="homepage-blogs-title">
            <h3><a href="/dashboard/{{blog.id}}">{{blog.title}}</a></h3><p>Created by: {{blog.user.name}}</p>
        </div>
        <div class="homepage-blogs-body">{{blog.description}}</div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/create-post.js"></script>