<div id="top-div">
    <h2>Welcome to the website!</h2>
    {{#each blogs as |blog|}}
    <div class="homepage-blogs">
        <div class="homepage-blogs-title">
            <h3><a href="/dashboard/{{blog.id}}">{{blog.title}}</a></h3><p>Created by: {{blog.user.name}}</p>
        </div>
        <div class="homepage-blogs-body">{{blog.description}}</div>
        </div>
    </div>
    {{/each}}
</div>